body
  margin: 0
  padding: 0
  width: 100%
  background: #ddd
  color: #333
  font: 16px/1.5 '微软雅黑', 'Microsoft YaHei', sans-serif

h1, h2, h3, h4, h5, h6
  margin: 0;
  font-weight: bold
h1
  font-size: 1.4em
h2
  font-size: 1.2em
h3
  font-size: 1.1em

p
  margin: 0.8em 0

a
  color: #1445b8
  text-decoration: none
a:hover, a:active
  color: #0f348a

img
  width: 100%

.container-wrapper
  margin: 0 auto
  background: #eee
  min-width: 320px
  overflow: auto

.container
  margin: 15px

.meta
  margin: 0.5em 0
  font-size: 0.8em
  color: #888

.date
  display: inline
  margin-right: 0.8em

.author
  display: inline
  font-style: normal

.footer
  font-size: 0.8em
  color: #888
  border-top: 1px solid #ccc
  padding-top: 0.5em

@media only screen and (min-width: 640px)
  .container-wrapper
    max-width: 640px

